<h1 class="article-head">În dezvoltare</h1>
<h1 class="section-head">Grad ridicat de prioritate</h1>
<p>
    <ul>
        <li>Popularea bazei de date cu resursele deja existente (articole + secțiuni)</li>
        <li>Încărcarea resurselor paginii din baza de date (se vor încărca doar secțiunile articolului selectat)</li>
        <li>Reducerea rutărilor de la server (ajax)</li>
        <li>Modificări asupra articolelor, pot fi implementate după îndeplinirea primei cerințe</li>
    </ul>
</p>
<h1 class="section-head">Grad mediu de prioritate</h1>
<p>
    <ul>
        <li>Adăugarea articolelor (preferabil modificabile)</li>        
        <li>Moderatori, operațiile de acceptare sau respingere a modificărilor făcute de useri</li>
        <li>Operația de modificare a privilegiilor, accesibilă moderatorilor</li>
    </ul>
</p>
<h1 class="section-head">Grad scăzut de prioritate</h1>
<p>
    <ul>
        <li>Mai multe stylesheets</li>
        <li>Alte operațiuni specifice utilizatorilor (comentarii, semnalarea informațiilor incorecte)</li>
    </ul>
</p>
