<h1 class="article-head">Documentație</h1>

<p>O serie de link-uri care vă pot ajuta să găsiți informațiile
    pe care le căutați:
    <br/>
    <br/>
        <h1 class="section-head">Informații generale:</h1>
        <a href="https://en.wikipedia.org/wiki/Super_Nintendo_Entertainment_System">https://en.wikipedia.org/wiki/Super_Nintendo_Entertainment_System</a><br/>
        <a href="https://nintendo.fandom.com/wiki/Super_Nintendo_Entertainment_System">https://nintendo.fandom.com/wiki/Super_Nintendo_Entertainment_System</a><br/>   
        
        <h1 class="section-head">Hardware:</h1>
        <a href="https://console5.com/wiki/SNES">https://console5.com/wiki/SNES</a><br/>

        <h1 class="section-head">Emulare:</h1>
        <a href="https://emulation.gametechwiki.com/index.php/Super_Nintendo_emulators">https://emulation.gametechwiki.com/index.php/Super_Nintendo_emulators</a><br/>

</p>