<h1 class="article-head">Pagina principală</h1>
<h1 class="section-head">Introducere</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Acest wiki își prpoune să devină o sursă de informații legate de consola SNES (Super Nintendo Entertainment System),
    precum și de jocurile și emulatoarele suportate. <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Cu ajutorul unor utilizatori informați și al unor moderatori interesați, articolele pot fi modificate, adăugate și 
    șterse. Astfel, informațiile vor crește în volum mult mai ușor, iar fiecare utilizator va avea șansa de a-și marca contribuția.<br/>

</p>