<h4>Link-uri utile:</h4>
<a href="/">Pagina principală</a><br/><br/>
<a>Despre consolă</a><br/>
<a>Hardware</a><br/>
<a>Jocuri</a><br/>
<a>Emulare</a><br/><br/>
<a href="/dezvoltare">În dezvoltare</a><br/><br/>
<a href="/documentatie">Documentație</a><br/>
