@font-face {
    font-family: snes-logo;
    src: url('/fonts/SnesItalic-vmAPZ.ttf');
}

.login {
    padding: 5px;
    color: white;
    background-color: rgb(32, 30, 34);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.title {
    color: white;
    font-size: 36pt;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.logo {
    width: 50px;
    padding: 4px;
    vertical-align: auto;
}

.columns {
    margin: 5px;
}
.column {
    margin: 5px;
}

.footer {
    padding: 20px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

/*cod din tutorialul de la adresa https://sabe.io/tutorials/how-to-create-modal-popup-box */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

