@font-face {
    font-family: snes-logo;
    src: url('/fonts/SnesItalic-vmAPZ.ttf');
}

html {
    overflow-y : auto;
}

.login {
    padding: 5px;
    color: white;
    background-color: rgb(32, 30, 34);
    height: 36px;
}
.login-text {
    line-height: 26px;
}

.login-text>span {
    font-size:10pt;
    vertical-align: middle;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: gray;
}
.title {
    font-family: snes-logo;
    color: white;
    font-size: 36pt;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.logo {
    width: 50px;
    padding: 4px;
    vertical-align: auto;
}

.columns {
    margin: 5px;
    align-items: flex-start;
}
.column {
    margin: 5px;
    font-size: small;
}
.sections {
    background-color: lightgray;
}

.main {
    background-color: whitesmoke;
}

.footer {
    margin-top: 10px;
    font-size: small;
}

.modal-content {
    padding: 2.5rem;
    color: black;
    background-color: whitesmoke;
    overflow-y : auto;
}

form.delogare {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
}

form.delogare>.button{
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    background-color: rgb(32, 30, 34);
}

form.delogare {
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
}
form.delogare>.button{
    font-size: small;
}